<div style="padding-bottom: 20px;"></div>
<div class="outer-search category-container">
    <div class="inner">
        <div class="category-holder">
            <ul class="nav category-nav pull-left">
                <li class="nav-tag"><a href="/tag/Articals/" title="Atticals">Articals</a></li>
                        <li class="nav-tag"><a href="/tag/news/" title="News">News</a></li>
                        <li class="nav-tag"><a href="/tag/Tutorials/" title="Tutorials">Tutorials</a></li>
                <li>
                    <a href="/category-collection">
                        <span style="margin-left:0.5rem;">More...</span>
                    </a>
                </li>
            </ul>
            <a class="search-btn no-decoration pull-right" href="#ghosteasybar">
                <span style="color: white;">
                <i class="fas fa-search"></i> 
                </span>
                </a>
            <a class="category-search no-decoration category-xs" href="/category-collection">
                <span style="margin-left:0.5rem;">Categories</span>
            </a>
        </div>
    </div>
</div>


